a>div{
    height: auto;
    width: 50pc;
}
h1{
    background: linear-gradient(45deg,rgb(53,25,25),rgb(88, 10, 10));
    color: #ff9900;
    text-align: center;
    padding: 20px;
    width: auto;
    letter-spacing: 2.5px;
}
img{
    float: left;
    width: 15pc;
    height: 15pc;
    border: 0px solid transparent;
    border-radius: 2px;
    margin-right: 20px;
    margin-bottom: 20px;
}
#conveyor,#battery,#liquid,#feeder,#labelling,#shrink,#other{
    background: rgb(248, 245, 243);
    border: 1px solid transparent;
    border-radius: 1.6pc;
    padding: 2pc;
    /* font-size: 1.2pc; */
    font-weight:350;
    font-family: "Poppins";   
}
#conveyor>h1,#battery>h1,#liquid>h1,#feeder>h1,#labelling>h1,#shrink>h1,#other>h1{
    text-align: left;
    background: transparent;
    padding: 0px;
    letter-spacing: 0px;
    font-size: 1.7pc;
    color: #ff9900;
}